<div class="lift:surround?with=base;at=viewPort">
    <div id="loginBase" class="lift:UserSnippet.login login">
        <div style="height: 5em"></div>
        <div class="logos_logo"></div>
        <div class="credentials">
            <div class="login-line">
                <div class="label lift:Loc.i" id="email-label">Login</div>
                <div class="value" id="email"></div>
            </div>

            <div class="login-line">
                <div class="label lift:Loc.i" id="password-label">Hasło</div>
                <div class="value" id="password"></div>
            </div>

            <div id="message-panel"></div>

            <span class="buttons-parent">
                <a href="javascript://" id="log-in" class="lift:Loc.i">Loguj</a>
                <a id="register" class="lift:Loc.i">Rejestruj</a>
            </span>

            <script type="text/javascript">
                bindEnter("loginBase", "log-in")
            </script>
        </div>
    </div>
</div>