<div class="lift:surround?with=base">
	<div class="lift:bind-at?name=viewPort height100">
        <div style="height: 8em"></div>
		<div class="lift:UserSnippet.singUp login">
            <span class="title">Log-OS - Dodaj nowe konto:</span>
            <div id="singUpForm">Form</div>
		</div>
	</div>
</div>