<div id="uniqeId">
    <div class="ajaxForm" id="ajax-form-parent">
        <div class="viewable field">
            <div class="label-out">
                <span class="label"></span>
            </div>
            <div class="value"></div>
            <div class="errors"></div>
        </div>
        <div class="editable field">
            <div class="label-out">
                <span class="label"></span>
            </div>
            <div class="value"></div>
            <div class="errors"></div>
        </div>
        <div class="errors" id="def-errors"></div>
        <div class="form-buttons-parent">
            <a href="javascript://" id="submitForm" class="button lift:Loc.i">ajaxForm.submit</a>
            <a href="javascript://" id="cancel" class="button">Anuluj</a>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            bindEnter("ajax-form-parent", "submitForm")
            //]]>
        </script>
    </div>
</div>