<div id="searchPanel">
    <div class="buttons-parent">
        <div id="searchText"></div>
        <a href="javascript://" id="newObjButton">Dodaj</a>
    </div>

    <table id="searchList">
        <tr id="item">
            <td>
                <div id="baseLine"></div>
                <div id="additionalLine"></div>
            </td>
        </tr>
    </table>

    <div id="new-form"></div>

    <div id="innerModal" style="display:none"></div>
</div>