<div class="lift:surround?with=default;at=content">
    <div id="content">
        <div>
            <div id="upload">
                <form class="lift:ProbeResourceSnippet?form=post;multipart=true">
                    <fieldset class="alt">
                        <legend><span>Dodaj materiały do badań</span></legend>
                        <table>
                            <tr>
                                <td>Wybierz plik:</td>
                                <td><input id="image" name="image" type="text" /></td>
                            </tr>
                            <tr>
                                <td>Wybierz badanie:</td>
                                <td><input id="probe" name="probe" type="text" /></td>
                            </tr>
                            <tr>
                                <td>Opis:</td>
                                <td><input id="label" name="label" type="text" /></td>
                            </tr>
                            <tr class="buttons-parent">
                                <td colspan="2"><input type="submit" value="Wyślij" /></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
            <hr>
            <div class="lift:ProbeResourceSnippet.list">
                <fieldset class="alt" id="list">
                    <legend><span>Lista materiałów</span></legend>
                    <table>
                        <tr>
                            <td>Nazwa pliku</td>
                            <td>Ścieżka pliku</td>
                            <td>Badanie</td>
                            <td>Opis</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr id="probeResourceList">
                            <td id="name"></td>
                            <td id="path"></td>
                            <td id="type"></td>
                            <td id="label"></td>
                            <td class="buttons-parent"><button id="delete">Usuń</button></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>
