<div class="lift:surround?with=default;at=content">
    <div id="conduct-main" class="lift:CaseSnippet.caseView">
        <h1>Przeprowadzone badania:</h1>
        <table>
            <tr id="probe-table">
                <td><span id="probeType"></span>:</td>
                <td>
                    <span id="probeAnswers">
                       answer
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>