<div class="lift:surround?with=base;at=baseContent">
    <div id="conduct-main" class="lift:CaseSnippet.conduct">
        <div id="menu" class="conductMenu" onmouseover="$('#menu-content').show()"
             onmouseout="$('#menu-content').hide()">
            <div id="menu-content" class="conductMenuInner">
                <table class="probe-table">
                    <tr id="current-probe">
                        <td><span id="probeType"></span>:</td>
                        <td>
                            <span id="probeAnswers">
                                <a href="javascript://" id="probeAnswer" class="button">ojj</a>
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" id="skip-item">
                                <img src="/images/delete.png" alt="usun"/>
                            </a>
                        </td>
                    </tr>
                </table>
                <div>
                    <a id="new-probeType" href="javascript://" class="button">
                        Dodaj <img src="/images/add.gif" alt=""/>
                    </a>
                </div>
                <span class="buttons-parent">
                    <a href="javascript://" id="next-step" class="button">Dalej</a>
                    <a href="javascript://" id="result" class="button">Zakończ i przygotuja diagnozę</a>
                </span>

                <div id="resource-control-box" class="buttons-parent">
                    <a href="javascript://" id="refresh-resource">Odświerz materiał</a>
                    <a href="javascript://" id="next-resource">następny materiał</a>
                </div>
            </div>
            <div id="conduct-menu-button" class="conductMenuInner">
            </div>
        </div>
        <div class="main-window">
            <iframe id="resource" class="resourceWindow"></iframe>
        </div>
    </div>
</div>