<div class="lift:surround?with=default;at=content">
    <div id="main-diagnosis" class="lift:DiagnosisSnippet.renderDiagnosis">

        <div class="list">
            <div class="listHead">
                Zaburzenia
                <img id="add-disorder" src="/images/add.gif"/>
            </div>

            <ol id="disorders-list">
                <li class="listItem" id="disorder">
                    <span id="disorder-name" class="probe-item"></span>
                    <a href="javascript://" id="disorder-delete">
                        <img src="/images/delete.png" alt="usun" id="remove-disoreder"/>
                    </a>
                </li>
            </ol>
            <span class="buttons-parent">
                <a href="javascript://" id="suggestions">Dodaj zalecenia</a>
            </span>
        </div>
        <div id="" style="display: none"></div>
    </div>
</div>