<div class="lift:surround?with=default;at=content">
    <div id="main-diagnosis" class="lift:DiagnosisSnippet.renderProbeList">
        <h1>Zaburzenia:</h1>

        <ul>
            <li class="probe-item">
                <span class="probe-name">Nazwa badnia</span>:
                <a class="button" href="javascript://" class="probe-option"></a>
            </li>
        </ul>
        <span class="buttons-parent">
            <a href="javascript://" class="button" id="cancel-return">Powróć</a>
            <a href="javascript://" class="button" id="return">Zapisz i powróć</a>
        </span>
    </div>
</div>