<div class="lift:surround?with=base;at=viewPort">
    <head_merge>
        <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
    </head_merge>

    <div id="docs" class="lift:DiagnosisSnippet.renderDocs">

        <h1>Karta badania</h1>
         <textarea  id="case-review" class='ckeditor' >Sample text</textarea>

        <h1>Diagnoza</h1>
        <textarea id="case-diagnosis" class='ckeditor'>Sample text</textarea>

        <script type="text/javascript" id="textfield-script"></script>

        <span class="buttons-parent">
            <a href="javascript://" id="finish-case">Zakończ badanie</a>
        </span>
    </div>
</div>