<div class="lift:surround?with=default;at=content">
    <div id="suggestions" class="lift:DiagnosisSnippet.renderSuggestions">


        <div class="list">
            <div class="listHead">
                Dodane zalecenia:
            </div>
            <div id="addedList" class="listItem">
                <div id="added-suggestion">
                    <span id="name">Suggestion Name</span> <img id="delete-suggestion" src="/images/delete.png"
                                                                alt="usuń"/>

                    <div id="description">Suggestion Descripition</div>
                </div>
            </div>
        </div>

        <div id="new-suggestion" class="button">
            Dodaj<img alt="nowe" src="/images/add.gif"/>
        </div>

        <div id="newSuggestion">

            <div id="selectedSuggestion"></div>

            <div id="matched-disorders">
                <div id="disorder-match">
                    <span id="disorder-checkbox"></span>
                    <span id="disorderName"></span>
                </div>
            </div>

            <div id="suggestion-error"></div>

            <a href="javascript://" id="add-suggestion" class="button">Dodaj zalecenie</a>
        </div>
        <span class="buttons-parent">
            <a href="javascript://" id="finish">Zakończ badanie</a>
        </span>
    </div>
</div>