<div id="caseView">
    <div id="childPart">
        <span>Dziecko:</span>

        <div id="childForm"></div>
    </div>
    <span class="buttons-parent">
        <a class="button" href="javascript://" id="conduct">
            Przeprowadź badanie
        </a>
    </span>

    <div class="list buttons-parent fixed-width" id="case-result">
        <a href="javascript://" id="probes-list">Badania i wyniki</a><br>
        <a href="javascript://" id="disorders-list">Zaburzenia</a><br>
        <a href="javascript://" id="suggestions-list">Zalecenia</a><br>
        <a href="javascript://" id="dos-edit">Edytuj dokumenty</a><br>
        <a href="javascript://" id="download-case-review">Pobierz kartę badania</a><br>
        <a href="javascript://" id="download-diagnosis">Pobierz opinię</a><br>
    </div>
    <div></div>
</div>
<script type="text/javascript">
    $("#probes-list").accordion({header:"> .listItem  > .item-header", collapsible:true, active:false});
</script>