<resources>
    <res name="test">test</res>
    <res name="user.edit">Edytuj</res>
    <res name="user.logout">Wyloguj</res>
    <res name="user.mysessions">Sesje</res>
    <res name="user.login.email">Login</res>
    <res name="User.user_t_email">Login</res>
    <res name="User.user_t_null">Hasło</res>
    <res name="User.user_t_password">Powtórz hasło</res>
    <res name="User.user_t_firstName">Imie</res>
    <res name="User.user_t_lastName">Nazwisko</res>
    <res name="User.user_t_title">Tytuł</res>
    <res name="user.home">Home</res>

    <res name="Session.session_t_isPublicEditable">Dostępna publicznie</res>
    <res name="Session.session_t_examineDate">Data badania</res>
    <res name="Session.session_t_school">Szkoła</res>

    <res name="Disorder.disorder_name">Nazwa zaburzenia</res>
    <res name="Disorder.disorder_disorderGroup">Grupa</res>

    <res name="Child.child_name">Imię i Nazwisko</res>
    <res name="Child.child_bornDate">Data urodzenia</res>

    <res name="Suggestion.suggestion_name">Nazwa zalecenia</res>
    <res name="Suggestion.suggestion_description">Treść zalecenia</res>
    <res name="Suggestion.suggestion_suggestionGroup">Grupa</res>

    <!--próby-->
    <res name="Probe.probe_myType">typ</res>
    <res name="Probe.probe_result">wynik</res>
    <res name="Probe.probe_number">LP.</res>

    <!--materialy-->
    <res name="probe.resources">Materiały do badań</res>

    <!--szkola-->
    <res name="school.view">Szkoła</res>
    <res name="School.school_name">Nazwa szkoły</res>
    <res name="school.name.empty">Sesja anonimowa</res>

    <res name="ProbeType.probetype_name">Nazwa badania</res>

    <res name="user.login.bad-data">Zły login lub hasło</res>

</resources>