<div class="lift:surround?with=base&at=viewPort">
    <link rel="stylesheet" href="/css/menu.css">
    <div class="container">
        <header class="lift:Embed?what=/templates-hidden/menu"></header>
    </div>
    <div class="contentView">
        <div class="main-messages">
            <div id="message-panel"></div>
        </div>

        <div id="content">
        </div>
    </div>
</div>
