<header class="lift:DefaultSnippet.menu site-header">
    <div class="site-logo"><a href="/"><img src="/favicon.ico" style="height: 40px; width: 40px; padding-right: 10px; overflow: visible;"/>LOG-OS</a></div>
    <ul id="user-menu" class="site-nav inline-block-list">
        <li><a id="home" class="lift:Loc.i ">user.home</a></li>
        <li><a id="editAccount" class="lift:Loc.i ">user.edit</a></li>
        <li><a id="mySession" class="lift:Loc.i ">user.mysessions</a></li>
        <li><a id="probeResources" class="lift:Loc.i ">probe.resources</a></li>
        <li><a id="school" class="lift:Loc.i ">school.view</a></li>
        <li><a id="logout" class="lift:Loc.i ">user.logout</a></li>
    </ul>
    <!--<div id="loggedAs" class="site-login"></div>-->

    <script type="text/javascript">
        //<![CDATA[

        logos.tutorials.info = logos.tutorials.info.concat([
            {id:"editAccount", text:'pozwala na edycje ustawidanych osobowych oraz ustawien konta'},
            {id:"mySession", text:'lista wszytkich sesji w systemie'},
            {id:"home", text:'powrót do storny głównej'},
            {id:"logout", text:'wyloguj się'},
            {id:"probeResources", text:'pozwala dodawać dodwać materiały do badań oraz nowe badania'},
            {id:"school", text:'pozwala utworzyc sesje,' +
                    ' dodać do niej przypadki lub wygenerować link do edycji sesji. ' +
                    'Link nie wymaga zalogowania i można go np wysłać do szkoły'},
        ])
        //]]>

    </script>
</header>