<div class="lift:surround?with=default&at=content">
    <div class="lift:SchoolSnippet.view">
        <div id="schoolCont">
            <div id="add">
                <fieldset class="alt">
                    <legend><span>Dodaj szkołę</span></legend>
                    <table>
                        <tr>
                            <td>Nazwa</td>
                            <td><input name="name" type="text"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="buttons-parent">
                                <button name="submit">Dodaj</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <hr>
            <div class="list">
                <fieldset class="alt" id="list">
                    <legend><span>Lista szkół</span></legend>
                    <table>
                        <tr>
                            <td>Nazwa szkoły</td>
                            <td>Sesje</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr id="schoolList">
                            <td name="name"></td>
                            <td name="sessions">
                                <span name="session"></span>
                            </td>
                            <td class="buttons-parent">
                                <button name="sessionShow">Pokaż sesje</button>
                                <button name="sessionCreate">Stwórz sesję</button>
                                <button name="delete">Usuń</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>
