html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFEE6;
}

a {
    color: #E08524;
    text-decoration: none;
}

a:hover {
    color: black;
}

.viewPort {
    width: 960px;
    padding-bottom: 17px;
}

#baseContent {
    min-height: 100%;
    position: relative;
}

.contentView {
    padding: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 1em;
    height: 17px;
}

.authors {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.logos_logo {
    background: url('../images/logo.png') no-repeat;
    height: 292px;
    width: 434px;
    position: relative;
    left: 10%;
}

.credentials {
    position: relative;
    left: 40%;
    top: -100px;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.title {
    line-height: 30px;
    font-size: 20px;
}

.errors {
    color: red;
    font-size: 12px;
    border: 1px solid red;
    display: none;
}

/*list styling*/
.list {
    margin: 10px;
}

.listHead {
    font-size: 120%;
    font-style: oblique;
}

.listItem {
    margin-left: 15px;
}

/*
form styling*/

.label-out {
    display: inline-block;
    width: 150px;
}

.label {
}

.value {
    display: inline;
}

.field {
    max-width: 600px;
    background-color: #FFFDC6;
    padding: 5px;
    padding-left: 10px;
    line-height: 46px;
}

.probe-item {
    display: inline;;
    margin-left: 5px;
}

input {
    width: 250px;
    padding: 3px;
    font-size: 13px;
}

select {
    min-width: 258px;
    background-color: white;
    border: 1px solid #BBB;
    padding: 3px;
}

.resourceWindow {
    width: 90%;
    height: 90%;
    margin-left: 30px;
}

.conductMenu {
    background-color: #FFFEE6;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
}

.conductMenuInner {
    float: left;
    max-width: 550px;
}

#conduct-menu-button {
    height: 100%;
    width: 30px;
    background-color: #BBB;
}

#conuct-main {
    margin-left: 100px;
}

#main-logo {
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 1;
}

#main-logo-img {
    width: 108px;
    height: 73px;
}

.unselected {
    opacity: 0.5;
}

.inNorm {
    background-color: #44BB44;
    padding: 1px 3px;
}

.belowNorm {
    background-color: #f00;
    padding: 1px 3px;
}

.tip {
    text-align: center;
    border: solid 3px #5555dd;
    padding: 4px 8px 4px 8px;
    margin: 2px;
    color: #111;
    background-color: #aaaaff;
}

.tip-hightlight {
    border: solid 8px #ff8888;
}

.help-stub {
    position: absolute;
    background-color: #dddddd;
    opacity: 0.5;
    z-index: 30;
}

.single-button {
    display: block;
}

.inline-block-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.inline-block-list li {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 1.5em;
    vertical-align: top;
}

.form-buttons-parent {
    padding: 5px;
    padding-top: 8px;
}

.form-buttons-parent a {
    border: 1px solid #E08524;
    padding: 3px 8px;
    color: #E08524;
}

.form-buttons-parent a:hover {
    color: #000000;
}

tbody tr:nth-child(even) td {
    background-color: rgb(238, 238, 238);
}

.buttons-parent {
}

.buttons-parent button, .buttons-parent input[type=submit], .buttons-parent a {
    border: 1px solid #E08524;
    padding: 3px 8px;
    color: #E08524;
    background-color: transparent;
    display: inline-block;
    margin: 2px auto;
    text-align: center;
    text-decoration: none;
}

.buttons-parent button:hover, .buttons-parent input[type=submit]:hover, .buttons-parent a:hover {
    color: #000000;
    text-decoration: none;
}

.algn-top {
    vertical-align: top;
}

.fixed-width *{
    width: 160px;
}

.probe-table a {
    padding: 3px 5px;
}

.login {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

#newObjButton {
    text-transform: capitalize;
}

.ui-icon-gripsmall-diagonal-se {
    position: absolute;
}
