
ul {
    display: block;
}

.site-nav {
    float: right;
    padding: 0;
    margin: 7px 0 0;
    list-style: none;
}

.site-nav a {
    display: block;
    color: #E08524;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover {
    color: #000;
}

.site-header {
    padding-top: 30px;
}

.site-logo {
    float: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 black;
}

.site-logo a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #E08524;
}

.container {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
