<div class="lift:surround?with=base">
    <div class="lift:bind-at?name=viewPort">
        <div id="sessionCreate" class="lift:SessionSnippet.sessionCreate">
            <fieldset class="alt">
                <legend><span>Sesja dla szkoły</span></legend>
                <table>
                    <tr>
                        <td name="schoolName"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="alt">
                <legend><span>Dzieci w danej sesji</span></legend>
                <table id="childrenList">
                    <tr>
                        <td>Imię i Nazwisko</td>
                        <td>PESEL</td>
                        <td></td>
                    </tr>
                    <tr id="child">
                        <td id="name"></td>
                        <td id="pesel"></td>
                        <td id="delete" class="buttons-parent">
                            <button name="delete">Usuń</button>
                        </td>
                    </tr>
                    <tr id="newChild">
                        <td name="name"></td>
                        <td name="pesel"></td>
                        <td name="submit" class="buttons-parent">
                            <button name="add">Dodaj</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>