<div class="lift:surround?with=default;at=content">
    <div id="sessionCont" class="lift:SessionSnippet.sessionList">


        <div id="sessionList" class="list">
            <span class="listHead">Otwarte sesje</span>
            <a href="javascript://" id="newSession">
                <img src="/images/add.gif" alt="" title="Dodaj"/>
            </a>
            <table>
                <tr id="sessionItem" class="listItem">
                    <td><span id="session-name"></span></td>
                    <td id="session-clickable"><span id="school-name" class="pointer"></span></td>
                    <td><a href="javascript://" id="delete-session">
                        <img src="/images/delete.png" alt="delete"/>
                    </a></td>
                </tr>
            </table>
        </div>

        <div id="done-sessionList" class="list">
            <span class="listHead">Zamknięte sesje</span>

            <div class="listItem">
                <div id="done-sessionItem">
                <span id="done-session-clickable">
                    <span id="done-session-name"></span>
                    <span id="done-school-name"></span>
                    <span id="finish-date"></span>
                </span>
                </div>
            </div>
        </div>

        <div id="toggle-deleted" class="list">
            <span class="listHead">Usunięte sesje </span>
            <img src="/images/extend.gif" id="toggle-deleted-img" alt=""/>
        </div>

        <table id="restore-sessionList">
            <tr id="restore-sessionItem" class="listItem">
                <td><span id="restore-session-name"></span></td>
                <td><span id="restore-school-name"></span></td>
                <td><a href="javascript://" id="restore-delete-session">
                    <img src="/images/delete.png" alt="delete"/>
                </a></td>
            </tr>
        </table>
    </div>

</div>
