<div class="lift:surround?with=default;at=content" xmlns="http://www.w3.org/1999/html">
    <div class="lift:SessionSnippet.sessionView">

        <div id="bad-data">
            Podany link jest nieprawidłowy albo nie masz uprawnien.
        </div>

        <div id="sessionView">

            <div id="baseData">
                <div id="session-form"></div>
            </div>

            <table>
                <tr>
                    <td class="algn-top">
                        <div id="caseList" class="list">
                        <span class="listHead">
                            Przypadki:
                            <img id="addCase" src="/images/add.gif" title="dodaj" alt=""/>
                        </span>

                            <ol>
                                <li id="case-item" class="listItem">
                                    <div id="childName" class="pointer"></div>
                                    <img id="status" class="pointer" alt="status"/>
                                    <img src="/images/delete.png" alt="usuń" id="delete" class="pointer"/>
                                </li>
                            </ol>

                            <div id="toggle-deleted">
                                Usunięte przypadki
                                <img src="/images/extend.gif" id="toggle-deleted-img" alt=""/>

                                <div id="toggleBody">
                                    <ol id="deletedCase">
                                        <li id="del-case-item">
                                            <div id="del-childName"></div>
                                            <div id="del-status"></div>
                                            <img src="/images/delete.png" alt="usuń" id="del-resore"/>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td class="algn-top">
                    <div id="case-view">
                        Case View
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>