<div>
    <h1>Karta Diagnostyczna</h1>
    <table>
        <tr>
            <td>Nazwisko i imię</td>
            <td id="child-name"></td>
        </tr>
        <tr>
            <td>Data urodzenia</td>
            <td id="born-date"></td>
        </tr>
        <tr>
            <td>Data badnaia</td>
            <td id="case-date"></td>
        </tr>
    </table>
    <h2>Wyniki wstępnych badań</h2>
    <table>
        <tr id="inital-probes">
            <td class="probeName"></td>
            <td class="probeResult"></td>
        </tr>
    </table>
    <h2>Wyniki badań szczegółowych</h2>
    <table>
        <tr id="probes">
            <td class="probeName"></td>
            <td class="probeResult"></td>
        </tr>
    </table>
</div>