<div style="max-width: 800">
    <div style="margin-left: 550px; margin-top: 30px">
        <div>
            <span id="where">Tuchów</span>,
            <span>dnia</span>
            <span id="creation-date">12-12-2012</span>
        </div>
        <div>
            <span>Numer teczki:</span>
            <span>PPPP-T-421-………/12</span>
        </div>
    </div>
    <div style="margin: 100px 200px 60px 0px; font-size: 20px">
        <div style="margin-left: -10px; font-weight: bold; font-size: 24px">Opinia Logopedyczna nr <span
                id="diagnosis-nr">12133/12</span></div>
        <div style="font-style: italic; margin: 0px 20px 20px">po przesiewowym badaniu mowy</div>

        <div id="child-name">Anna Nowak</div>
        <div>urodzona: <span id="born-date">12-12-2000</span></div>
        <div>zam. <span id="child-address">Jastrzebia 54</span></div>
        <div>
            <div id="school-name">Publiczne Przedszkole w Jastrzębi</div>
            <div id="school-address">33-191 Jastrzębia 180/A</div>
        </div>
        <div>
            Data badnia:
            <span id="examinationDate">12-12-2012</span>
        </div>
    </div>

    <div class="diagnosis-content">
        <p>Opinia w sprawie objęcia dziecka pomocą psychologiczno – pedagogiczną na terenie
            przedszkola w formie zajęć logopedycznych.
        </p>

        <div id="disorders-parent">
            <p>Wyniki badnia logopedycznego:</p>
            <ul>
                <li class="simple-disorder">Jakieś zaburzenie</li>
                <li class="disorder-group">
                    <span class="group-name">Problemy z artylkuacją:</span>
                    <ul>
                        <li class="disorder-group-item">samogłosek (a, e, u, i)</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="suggesions-parent">
            <p>Zalecenia:</p>
            <ul>
                <li id="suggestions"><span class="suggestion-name"></span> - <span class="suggestion-description"></span></li>
            </ul>
        </div>
    </div>
    <div> Podstawa prawna:</div>
    <div>Rozp. MEN z dn. 17.11.2010 r. (Dz. U. z 2010 r. Nr 228, poz. 1487).</div>
    <div>Rozp. MEN z dn. 17.11.2010 r. (Dz. U. z 2010 r. Nr 228, poz. 1488).</div>
</div>