<div class="lift:surround?with=default;at=content">
    <div class="lift:ExpertSnippet.view">
        <div id="content">
            <button id="train">Select best classifiers</button>

            <h1>Wyniki:</h1>

            <div class="working">
                Working...
            </div>
            <div class="disorder-item">
                <h2 class="disorder-name">Name</h2>
                Najlepszy: <span class="bestName">no-such</span> <br/>
                z dokładonością:<span class="resolution">n/a</span>

                <div>
                    <table>
                        <thead>
                        <tr>
                            <td>Nazwa</td>
                            <td>Dokładność</td>
                            <td>Tak-Tak</td>
                            <td>Nie-Nie</td>
                            <td>Tak-Nie</td>
                            <td>Nie-Tak</td>
                            <td>Trenowanie</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="value-entry">
                            <td class="name"></td>
                            <td class="positive">Dokładność</td>
                            <td class="yy">Tak-Tak</td>
                            <td class="nn">Nie-Nie</td>
                            <td class="yn">Tak-Nie</td>
                            <td class="ny">Nie-Tak</td>
                            <td class="train">Nie-Nie</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>